.room-review-dialog {
  $van-dialog: '.van-dialog';

  width: 90%;
  max-width: var(--tablet);

  #{$van-dialog} {
    &__content {
      position: relative;
      display: block;
      max-height: 70vh;
      padding: var(--base-p-y) calc(var(--base-p-x) * 1.8);
      overflow: auto;
    }
  }
}
