.privacy-policy-page {
  position: relative;

  p {
    height: calc(100vh - var(--header-height) * 2);
    margin: var(--base-m-y) var(--base-m-x);
    padding: var(--base-p-y) var(--base-p-x);
    overflow: auto;
    color: var(--color-text-02);
    background-color: var(--color-ui-02);
    border-radius: var(--border-radius-01);
  }
}
