.menu-dialog {
  $van-dialog: '.van-dialog';

  width: 90%;
  max-width: var(--tablet);

  #{$van-dialog} {
    &__content {
      position: relative;
      display: block;
      max-height: 60vh;
      padding: var(--base-p-y) calc(var(--base-p-x) * 1.8);
      overflow: auto;

      @include media-breakpoint-down(tablet) {
        padding: var(--base-p-y) var(--base-p-x);
      }
    }
  }

  &__title {
    display: block;
    padding: var(--base-p-y) var(--base-p-x);
    padding-top: 0;
    color: var(--color-text-02);
    font-size: var(--font-size-text-7);

    @include font-weight-semi-bold;
  }
}
