.tour-mode-online-dialog {
  $van-dialog: '.van-dialog';

  width: 90%;
  max-width: var(--mobile);
  margin-block-start: calc(var(--base-m-y) * 2);

  &.chat-osk {
    top: 0;
  }

  .van-tabs {
    &__content {
      position: relative;
    }
  }

  .chat {
    &__messages {
      position: relative;
      display: block;
      max-height: 50vh;
      padding: var(--base-p-y) 0;
      overflow: auto;
    }
  }

  &__onlineTab,
  &__lastAnswersTab {
    small {
      display: block;
      padding: $spacer * 4 $spacer * 3;
      color: var(--color-text-03);
    }
  }
}
