.player-dialog {
  $van-dialog: '.van-dialog';

  width: 90%;
  max-width: var(--tablet);

  #{$van-dialog} {
    &__content {
      position: relative;
      display: block;
      max-height: 75vh;
      padding: var(--base-p-y) calc(var(--base-p-x) * 1.8);
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.profile-view {
  position: relative;

  &__avatar {
    margin-bottom: var(--base-m-y);
  }

  &-created-at {
    display: flex;
    align-items: center;

    &__icon {
      position: relative;
      margin-inline-end: $spacer * 2;
    }

    &__value {
      position: relative;
    }

    &__label {
      position: relative;
    }
  }

  .tour-scores {
    position: relative;
    margin-block-start: calc(var(--base-m-y) * 2);
    border-block-start: 1px solid var(--color-border-02);

    &__title {
      display: block;
      margin-block-start: $spacer * 6;
      margin-block-end: $spacer * 4;
    }

    .tour-scores-table {
      width: 100%;

      @include media-breakpoint-up(tablet) {
        max-width: var(--mobile-l);
      }

      th,
      td {
        padding-inline-end: $spacer * 3;
        padding-block-end: $spacer * 3;
      }

      th {
        padding: $spacer * 2;
        background-color: var(--color-ui-01);
      }

      td {
        padding-block-start: $spacer * 3;
      }

      tr td:last-child {
        text-align: right;
      }

      &-item {
        position: relative;

        &-score {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 28px;
          margin-block-start: $spacer * 2;
          padding: 0 $spacer * 2;
          color: var(--color-text-02);
          font-size: var(--font-size-text-9);
          text-align: center;
          background-color: var(--color-ui-01);
          border-radius: var(--border-radius-01);
          box-shadow: var(--box-shadow-03);
          font-variant-numeric: tabular-nums;
        }
      }
    }
  }
}
