.username-edit-form {
  position: relative;

  &__usernameField {
    $van-field: '.van-field';

    position: relative;
    display: grid;
    grid-template-columns: calc(46px + var(--base-m-x) / 2) 1fr auto;

    #{$van-field} {
      &__label {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(tablet) {
          align-items: flex-start;
          margin-top: calc(var(--base-m-y) / 4);
        }
      }

      &__body {
        @include media-breakpoint-down(tablet) {
          display: grid;
        }
      }
    }

    input {
      width: 100%;
      height: 46px;
      padding: 0 var(--base-p-x);
      background-color: var(--color-field-01);
      border: 2px solid var(--color-field-02);
      border-radius: var(--border-radius-01);
    }
  }

  &-submit-button {
    $van-button: '.van-button';

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    height: 46px;
    margin-left: calc(var(--base-m-x) / 2);
    color: var(--color-text-04);
    background-color: var(--color-field-02);
    border: 0;
    border: 2px solid var(--color-field-02);
    border-radius: var(--border-radius-01);

    @include media-breakpoint-down(tablet) {
      height: 40px;
      margin-top: calc(var(--base-m-y) / 2);
      margin-left: auto;
    }

    #{$van-button} {
      &__text {
        display: flex;
        align-items: center;
      }
    }

    &__icon {
      margin-right: calc(var(--base-m-x) / 4);
      color: var(--color-text-04) !important;
      filter: unset !important;
    }
  }
}
