.room-review-form {
  position: relative;

  &__head {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: var(--base-p-y) 0;
  }

  &-back-button {
    $van-button: '.van-button';

    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--base-m-y);
    color: var(--color-text-03);
    background-color: transparent;
    border: 1px solid var(--color-border-02);
    border-radius: var(--border-radius-01);

    #{$van-button} {
      &__text {
        display: flex;
        align-items: flex-start;
      }
    }

    &__icon {
      margin-right: calc(var(--base-m-x) / 4);
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vue-star-rating {
    position: relative;
    margin-bottom: var(--base-m-y);

    &-star {
      margin: 0 calc(var(--base-m-x) / 4);
    }

    &-rating-text {
      bottom: -46px;
      color: var(--color-text-03);
      font-size: var(--font-size-text-2);

      @include center(true, false);
    }
  }

  &__emptyRatingDescription {
    display: block;
    margin: calc(var(--base-m-y) * 4) auto;
    color: var(--color-text-03);
    font-size: var(--font-size-text-6);
    text-align: center;
  }

  &__commentField {
    position: relative;
    margin-top: 46px;
    margin-bottom: var(--base-m-y);
    padding: 0;

    &::after {
      display: none;
    }

    textarea {
      width: 100%;
      min-height: 120px;
      margin-bottom: calc(var(--base-m-y) / 2);
      padding: calc(var(--base-p-y) / 2) var(--base-p-x);
      overflow: auto;
      background-color: var(--color-field-01);
      border: 1px solid var(--color-border-02);
      border-radius: var(--border-radius-01);
      resize: none;
    }
  }

  &-submit-button {
    $van-button: '.van-button';

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    margin-bottom: var(--base-m-y);
    margin-left: auto;
    color: var(--color-text-04);
    background-color: var(--color-brand-02);
    border: 0;
    border-radius: var(--border-radius-01);

    #{$van-button} {
      &__text {
        display: flex;
        align-items: flex-start;
      }
    }

    &__icon {
      margin-right: calc(var(--base-m-x) / 4);
    }
  }
}
