.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

@mixin display($mq-breakpoint) {
  .d-#{$mq-breakpoint}-none {
    display: none !important;
  }

  .d-#{$mq-breakpoint}-block {
    display: none !important;
  }

  .d-#{$mq-breakpoint}-flex {
    display: flex !important;
  }
}

@include mq($from: mobile) {
  @include display(sm);
}

@include mq($from: tablet) {
  @include display(md);
}

@include mq($from: desktop) {
  @include display(lg);
}

@include mq($from: wide) {
  @include display(xl);
}
