.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@mixin display($mq-breakpoint) {
  .d-#{$mq-breakpoint}-none {
    display: none !important;
  }

  .d-#{$mq-breakpoint}-inline {
    display: inline !important;
  }

  .d-#{$mq-breakpoint}-inline-block {
    display: inline-block !important;
  }

  .d-#{$mq-breakpoint}-block {
    display: block !important;
  }

  .d-#{$mq-breakpoint}-table {
    display: table !important;
  }

  .d-#{$mq-breakpoint}-table-row {
    display: table-row !important;
  }

  .d-#{$mq-breakpoint}-table-cell {
    display: table-cell !important;
  }

  .d-#{$mq-breakpoint}-flex {
    display: flex !important;
  }

  .d-#{$mq-breakpoint}-inline-flex {
    display: inline-flex !important;
  }
}

@include mq($from: mobile) {
  @include display(sm);
}

@include mq($from: tablet) {
  @include display(md);
}

@include mq($from: desktop) {
  @include display(lg);
}

@include mq($from: wide) {
  @include display(xl);
}

// Utilities for toggling `display` in print
@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
