.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.flex-direction-row {
  flex-direction: row !important;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}

@mixin flex($mq-breakpoint) {
  .justify-content-#{$mq-breakpoint}-start {
    justify-content: flex-start !important;
  }

  .justify-content-#{$mq-breakpoint}-center {
    justify-content: center !important;
  }

  .justify-content-#{$mq-breakpoint}-end {
    justify-content: flex-end !important;
  }

  .justify-content-#{$mq-breakpoint}-between {
    justify-content: space-between !important;
  }

  .justify-content-#{$mq-breakpoint}-around {
    justify-content: space-around !important;
  }

  .align-items-#{$mq-breakpoint}-start {
    align-items: flex-start !important;
  }

  .align-items-#{$mq-breakpoint}-center {
    align-items: center !important;
  }

  .align-items-#{$mq-breakpoint}-end {
    align-items: flex-end !important;
  }

  .flex-#{$mq-breakpoint}-wrap {
    flex-wrap: wrap !important;
  }

  .flex-wrap-#{$mq-breakpoint}-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-wrap-#{$mq-breakpoint}-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-direction-#{$mq-breakpoint}-column {
    flex-direction: column !important;
  }

  .flex-direction-#{$mq-breakpoint}-row {
    flex-direction: row !important;
  }

  .flex-direction-#{$mq-breakpoint}-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-direction-#{$mq-breakpoint}-row-reverse {
    flex-direction: row-reverse !important;
  }
}

@include mq($from: mobile) {
  @include flex(sm);
}

@include mq($from: tablet) {
  @include flex(md);
}

@include mq($from: desktop) {
  @include flex(lg);
}

@include mq($from: wide) {
  @include flex(xl);
}
