.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

@mixin spacing($mq-breakpoint) {
  .p-#{$mq-breakpoint}-0 {
    padding: 0 !important;
  }

  .m-#{$mq-breakpoint}-0 {
    margin: 0 !important;
  }

  .pl-#{$mq-breakpoint}-0 {
    padding-left: 0 !important;
  }

  .pr-#{$mq-breakpoint}-0 {
    padding-right: 0 !important;
  }

  .ml-#{$mq-breakpoint}-0 {
    margin-left: 0 !important;
  }

  .mr-#{$mq-breakpoint}-0 {
    margin-right: 0 !important;
  }

  .px-#{$mq-breakpoint}-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .py-#{$mq-breakpoint}-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .mx-#{$mq-breakpoint}-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .my-#{$mq-breakpoint}-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .mx-#{$mq-breakpoint}-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .ml-#{$mq-breakpoint}-auto {
    margin-left: auto !important;
  }

  .mr-#{$mq-breakpoint}-auto {
    margin-right: auto !important;
  }
}

@include mq($from: mobile) {
  @include spacing(sm);
}

@include mq($from: tablet) {
  @include spacing(md);
}

@include mq($from: desktop) {
  @include spacing(lg);
}

@include mq($from: wide) {
  @include spacing(xl);
}
