.cursor-pointer {
  cursor: pointer !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.visibility-visible {
  visibility: visible !important;
}
