.creator-mode-my-rooms-page {
  position: relative;

  &__inner {
    position: relative;
    width: calc(100% - (var(--base-p-x) * 2));
    margin: calc(var(--base-m-y) * 2) auto;
  }

  &__title {
    position: relative;
    display: block;
    color: var(--color-text-01);

    &--rooms {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__description {
    color: var(--color-text-03);
    font-size: var(--font-size-text-9);
    text-align: center;
  }

  .room-list {
    position: relative;

    .van-cell {
      $van-cell: '.van-cell';

      margin-bottom: var(--base-m-y);
      overflow: hidden;
      border-radius: var(--border-radius-01);
    }

    &-item {
      $room-list-item: '.room-list-item';

      position: relative;

      &__title {
        display: block;
        margin-bottom: calc(var(--base-m-y) / 2);
        padding-bottom: calc(var(--base-p-y) / 2);
        color: var(--color-text-02);
        font-size: var(--font-size-text-8);

        @include font-weight-semi-bold;
      }

      &__id {
        display: block;
      }
    }
  }
}
