.stats-dialog {
  $van-dialog: '.van-dialog';

  width: 90%;
  max-width: var(--tablet);

  #{$van-dialog} {
    &__content {
      padding: var(--base-p-y) calc(var(--base-p-x) * 1.5);
    }
  }

  &-empty {
    padding: 0;

    &__title {
      padding: 0;
      text-align: center;
    }
  }

  $van-tabs: '.van-tabs';
  #{$van-tabs} {
    &__wrap {
      height: 36px;
    }

    &__line {
      background-color: var(--color-highlight-01);
    }
  }

  .score {
    position: relative;

    &__icon {
      //
    }

    &__count {
      @include font-weight-bold;

      display: inline-block;
      width: 28px;
      margin-left: calc(var(--base-m-x) / 2);
    }

    &__title {
      position: relative;
    }
  }

  .scoreboard {
    position: relative;
    margin-bottom: calc(var(--base-m-y) * 2);

    .score {
      margin-bottom: var(--base-m-y);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__countdown {
    $countdown: '.countdown';

    flex-wrap: wrap;
    margin: unset !important;

    #{$countdown} {
      &__title {
        flex: 100%;
        width: 100%;
        margin-bottom: calc(var(--base-m-y) / 2);
        font-size: var(--font-size-text-7);

        @include mq($until: mobile) {
          font-size: var(--font-size-text-9);
        }
      }

      &__timer {
        @include font-weight-bold;

        @include mq($until: mobile) {
          font-size: var(--font-size-text-8) !important;
        }
      }
    }
  }

  .answers {
    position: relative;
    max-height: 40vh;
    padding: var(--base-p-y) 0;
    overflow: auto;

    &__inner {
      position: relative;
    }

    $van-cell: '.van-cell';
    $van-collapse-item: '.van-collapse-item';

    &__answer {
      padding: calc(var(--base-p-y) / 2) 0;
      padding-right: var(--base-p-x);

      &::after {
        right: 0;
        left: 0;
      }

      #{$van-cell} {
        padding: calc(var(--base-p-y) / 4) 0;

        &:active {
          background-color: transparent;
        }

        &.van-collapse-item__title--expanded {
          &::after {
            visibility: hidden;
          }
        }

        &__title {
          text-transform: uppercase;
        }
      }

      #{$van-collapse-item} {
        &__content {
          padding: 0;
        }
      }
    }
  }

  // Footer
  &__footer {
    margin-top: calc(var(--base-m-y) * 2);
    padding: var(--base-p-y) var(--base-p-x);
    background-color: var(--color-ui-01);
    border-radius: var(--border-radius-01);
  }
}
