.dialog {
  // Dialog shared styles
}

// Stats Dialog shared styles
.stats-dialog {
  $van-dialog: '.van-dialog';
  $stats-dialog: '.stats-dialog';

  width: 90% !important;
  max-width: var(--tablet) !important;

  #{$van-dialog} {
    &__content {
      padding: var(--base-p-y) calc(var(--base-p-x) * 1.5);
    }
  }

  &-empty {
    padding: 0;

    &__title {
      padding: 0;
      text-align: center;
    }
  }

  $van-tabs: '.van-tabs';

  #{$van-tabs} {
    &__wrap {
      height: 36px;
    }

    &__line {
      background-color: var(--color-highlight-01);
    }

    .van-tab {
      &__text {
        display: flex;
        align-items: center;

        #{$stats-dialog} {
          &-tab-title {
            display: flex;

            &__value {
              @include media-breakpoint-down(mobile) {
                display: none;
              }
            }
          }
        }
      }

      .app-icon {
        margin-right: calc(var(--base-m-x) / 4);
      }
    }
  }

  .score {
    position: relative;

    &__count {
      @include font-weight-bold;

      display: inline-block;
      width: 28px;
      margin-left: calc(var(--base-m-x) / 2);
    }

    &__title {
      position: relative;
    }
  }

  .scoreboard {
    position: relative;
    margin-bottom: calc(var(--base-m-y) * 2);

    .score {
      margin-bottom: var(--base-m-y);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__countdown {
    $countdown: '.countdown';

    flex-wrap: wrap;
    margin: unset !important;

    #{$countdown} {
      &__title {
        flex: 100%;
        width: 100%;
        margin-bottom: calc(var(--base-m-y) / 2);
        font-size: var(--font-size-text-7);

        @include media-breakpoint-down(mobile) {
          font-size: var(--font-size-text-9);
        }
      }

      &__timer {
        color: var(--color-text-02);

        @include font-weight-bold;

        @include media-breakpoint-down(mobile) {
          font-size: var(--font-size-text-8) !important;
        }
      }
    }
  }

  .answers {
    position: relative;
    max-height: 40vh;
    padding: var(--base-p-y) 0;
    overflow: auto;

    &__inner {
      position: relative;
    }
  }

  .answer {
    $answer: '.answer';
    $van-cell: '.van-cell';
    $van-collapse-item: '.van-collapse-item';

    padding: calc(var(--base-p-y) / 2) 0;
    padding-right: var(--base-p-x);

    &::after {
      right: 0;
      left: 0;
    }

    &--correct {
      #{$van-cell} {
        &__title {
          color: var(--color-success-01);

          &::before {
            content: '✔️';
          }
        }
      }

      #{$answer} {
        &__myAnswer {
          span {
            color: var(--color-success-01);
          }
        }
      }
    }

    &--wrong {
      #{$van-cell} {
        &__title {
          color: var(--color-danger-01);

          &::before {
            content: '❌';
          }
        }
      }

      #{$answer} {
        &__myAnswer {
          span {
            color: var(--color-danger-01);
          }
        }
      }
    }

    &--passed {
      #{$van-cell} {
        &__title {
          color: var(--color-warning-01);

          &::before {
            position: relative;
            top: calc(var(--base-m-y) / 4);
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: calc(var(--base-m-x) / 2) !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' class='iconify iconify--twemoji' width='32' height='32' preserveAspectRatio='xMidYMid meet' viewBox='0 0 36 36'%3E%3Cpath fill='%23d3af38' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z'%3E%3C/path%3E%3Cpath fill='%23FFF' d='M7 14h9V7l13 11l-13 11v-7H7z'%3E%3C/path%3E%3C/svg%3E");
            background-size: contain;
            content: '';
          }
        }
      }

      #{$answer} {
        &__myAnswer {
          span {
            color: var(--color-warning-01);
          }
        }
      }
    }

    #{$van-cell} {
      padding: calc(var(--base-p-y) / 4) 0;

      &:active {
        background-color: transparent;
      }

      &.van-collapse-item__title--expanded {
        &::after {
          visibility: hidden;
        }
      }

      &__title {
        text-transform: uppercase;

        &::before {
          margin-right: calc(var(--base-m-x) / 4);
        }
      }
    }

    #{$van-collapse-item} {
      &__content {
        padding: 0;
      }
    }
  }

  // Footer
  &__footer {
    margin-top: calc(var(--base-m-y) * 2);
    padding: var(--base-p-y) var(--base-p-x);
    background-color: var(--color-ui-01);
    border-radius: var(--border-radius-01);
  }
}
