.game-scene {
  $game-scene: '.game-scene';

  --motion: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --answer-field-height: 54px;
  --answer-field-height--small: 40px;

  outline: none;

  @media (max-height: 569px) {
    zoom: 90%;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  %pop-animate {
    transition: var(--motion);
    animation-name: pop;
    animation-duration: 0.2s;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &--gameOver {
    #{$game-scene} {
      &__inner {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  @at-root html[ua-is-from-ios='true'] {
    #{$game-scene} {
      &--osk {
        /*  osk style for ios */
      }
    }
  }

  @at-root html[ua-browser='Safari'] {
    #{$game-scene} {
      &--osk {
        /*  osk safari style */
      }
    }
  }

  // Alphabet
  .alphabet {
    --alphabet-height: auto;
    --alphabet-width: 100%;

    position: relative;
    width: var(--alphabet-width);
    height: var(--alphabet-height);
    margin-bottom: calc(var(--base-m-y) * 2);
    padding: var(--base-p-y) 0;

    @include media-breakpoint-down(mobile-l) {
      margin-bottom: calc(var(--base-m-y) / 2);
    }

    @at-root .unsupported-height {
      .alphabet {
        margin-bottom: calc(var(--base-m-y) / 4);
      }
    }

    &__inner {
      position: relative;
    }

    &__item {
      $alphabet-item: '.alphabet__item';

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-disabled-01);
      font-size: var(--font-size-text-8);
      border: 4px solid var(--color-border-01);
      border-radius: 100%;
      user-select: none;

      @at-root .unsupported-height {
        #{$alphabet-item} {
          font-size: var(--font-size-text-10);
        }
      }

      &--selected {
        color: var(--color-text-01);
        background-color: var(--color-ui-02);
        border-color: var(--color-brand-01);
        box-shadow: 0 4px var(--color-highlight-01);
        transform: scale(1.09);

        @include font-weight-semi-bold;
      }

      &--passed {
        color: var(--color-text-04);
        background-color: var(--color-warning-01);
        border-color: var(--color-warning-01);

        @extend %pop-animate;
      }

      &--wrong {
        color: var(--color-text-04);
        background-color: var(--color-danger-01);
        border-color: var(--color-danger-01);

        @extend %pop-animate;
      }

      &--correct {
        color: var(--color-text-04);
        background-color: var(--color-success-01);
        border-color: var(--color-success-01);

        @extend %pop-animate;
      }
    }
  }

  // Countdown
  .countdown {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: var(--font-size-text-4);

    &__icon {
      margin-right: calc(var(--base-m-x) / 2) !important;
      color: var(--color-icon-01);
    }

    &__timer {
      color: var(--color-text-02);
      font-size: var(--font-size-text-6) !important;
      font-variant-numeric: tabular-nums !important;
    }
  }

  @at-root .unsupported-height {
    #{$game-scene} {
      &__countdown {
        $countdown: '.countdown';

        position: fixed;
        top: calc(var(--header-height) / 4);
        left: var(--base-m-x);
        padding: 6px 12px;
        font-size: var(--font-size-text-9);
        background-color: var(--color-ui-02);
        border-radius: var(--border-radius-01);

        #{$countdown} {
          &__timer {
            font-size: var(--font-size-text-9) !important;
          }
        }
      }
    }
  }

  // Questions
  .questions {
    position: relative;
    padding: calc(var(--base-p-y) * 2) var(--base-p-x);
    text-align: center;

    @include media-breakpoint-up(tablet) {
      padding: calc(var(--base-p-y) * 2) calc(var(--base-p-x) * 4);
    }

    @include media-breakpoint-down(mobile-m) {
      padding: var(--base-p-y) var(--base-p-x);
    }

    @at-root .unsupported-height {
      .questions {
        padding-top: 0;
      }
    }
  }

  // Question
  .question {
    $question: '.question';

    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    font-size: var(--font-size-text-1);
    letter-spacing: 0.02em;

    @include media-breakpoint-down(mobile) {
      height: 150px;
    }

    @media (max-height: 569px) {
      height: 100px;
    }

    &__title {
      color: var(--color-text-01);
      @include font-weight-bold;
    }

    @at-root html[ua-is-from-ios='true'] {
      #{$question} {
        &--osk {
          @include media-breakpoint-down(mobile) {
            height: 90px;
          }
        }
      }
    }

    @at-root .unsupported-height {
      #{$question} {
        &--osk {
          height: 50px !important;
        }
      }
    }

    &--osk {
      @media (max-height: 569px) {
        height: 60px;
      }
    }
  }

  // Field Section
  &__fieldSection {
    position: fixed !important;
    top: calc(var(--vh) - var(--answer-field-height) - var(--base-p-y));
    left: calc(var(--base-p-x) / 2);
    width: calc(100% - var(--base-p-x));
    max-width: calc(var(--layout-max-width) - var(--base-p-x) * 2);
    margin: 0 auto;
    overflow: hidden;
    border-radius: var(--border-radius-01);

    @include center(true, false);

    &--disabled {
      user-select: none;
      pointer-events: none;
    }
  }

  // Answer Field
  .answer-field {
    --action-button-width: 100px;

    position: relative;
    width: 100%;
    height: var(--answer-field-height);
    box-shadow: var(--box-shadow-01);

    @mixin readonly {
      user-select: none;
      pointer-events: none;
      -webkit-user-drag: none;
    }

    @at-root .unsupported-height {
      .answer-field {
        height: var(--answer-field-height--small);
      }
    }

    &__input {
      $answer-field-input: '.answer-field__input';

      width: 100%;
      height: var(--answer-field-height);
      padding: 0 var(--base-p-x);
      padding-right: calc(var(--action-button-width) + var(--base-p-x));
      color: var(--color-text-02);
      font-size: var(--font-size-text-7);
      background-color: var(--color-field-01);
      border: 0;
      border-radius: var(--border-radius-01);
      outline: none;

      @include font-weight-bold;

      &::placeholder {
        color: var(--color-text-03);
        text-transform: capitalize;

        @include font-weight-regular;
      }

      @at-root .unsupported-height {
        #{$answer-field-input} {
          height: var(--answer-field-height--small);
          font-size: var(--font-size-text-9);
        }
      }

      @keyframes errorAnimation {
        0% {
          transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
          transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
          transform: translate(-3px, 0) rotate(1deg);
        }

        30% {
          transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
          transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
          transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
          transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
          transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
          transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
          transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
          transform: translate(1px, -2px) rotate(-1deg);
        }
      }

      &--errorAnimation {
        box-shadow: 2px 4px 6px var(--color-danger-01);
        animation: 0.4s errorAnimation forwards ease;
      }
    }

    &__button {
      $answer-field-button: '.answer-field__button';

      right: calc(var(--base-m-x) / 2);
      width: var(--action-button-width);
      height: calc(var(--answer-field-height) - (var(--base-p-y) / 2));
      border-radius: var(--border-radius-01);
      cursor: pointer;

      @include center(false, true);

      &::before {
        position: absolute;
        right: calc(var(--base-m-x) / 2);
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        content: '';

        @include center(false, true);
      }

      @at-root .unsupported-height {
        #{$answer-field-button} {
          height: calc(var(--answer-field-height--small) - (var(--base-p-y) / 2));
        }
      }
    }
  }

  // Carousels
  .alphabet-carousel {
    .swiper-slide {
      width: calc(100px - var(--base-p-x));
      height: calc(100px - var(--base-p-y));

      @include media-breakpoint-down(desktop) {
        width: calc(72px - var(--base-p-y));
        height: calc(72px - var(--base-p-x));
      }

      @include media-breakpoint-down(tablet) {
        width: calc(64px - var(--base-p-y));
        height: calc(64px - var(--base-p-x));
      }

      @at-root .unsupported-height {
        .swiper-slide {
          width: calc(52px - var(--base-p-y)) !important;
          height: calc(52px - var(--base-p-x)) !important;
        }
      }
    }
  }

  // Game scene toast
  @at-root .van-toast {
    $van-toast: '.van-toast';

    &.start-game-toast {
      $start-game-toast: '.start-game-toast';

      width: 90%;
      max-width: 426px;

      #{$van-toast} {
        &__text {
          display: flex;
          flex-direction: column;
          margin-top: var(--base-m-y);
          padding: var(--base-p-y) var(--base-p-x);

          #{$start-game-toast} {
            &__countdown {
              margin: 0;
              font-size: var(--font-size-text-3);
              font-variant-numeric: tabular-nums;
            }

            &__spinner {
              display: block;
              width: 36px;
              height: 36px;
              margin: var(--base-m-y) auto;
              margin-bottom: calc(var(--base-m-y) / 2);
              filter: grayscale(100%) invert(1);
            }

            &-info {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              font-size: var(--font-size-text-9);

              &__title {
                position: relative;
                margin-bottom: 0.4rem;
                color: var(--color-info-01);
              }

              ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: var(--base-p-x);

                li {
                  margin-bottom: 0.4rem;
                  text-align: left;
                  word-break: break-word;
                  list-style: disc;
                }
              }

              code {
                padding: 2px 4px;
                color: var(--color-highlight-01);
                background-color: #000;
                border-radius: var(--border-radius-01);

                @include font-weight-bold;
              }
            }
          }

          strong {
            @include font-weight-semi-bold;
          }
        }
      }
    }
  }

  // Stats Dialog shared styles
  .stats-dialog {
    $van-dialog: '.van-dialog';
    $stats-dialog: '.stats-dialog';

    width: 90% !important;
    max-width: var(--tablet) !important;

    #{$van-dialog} {
      &__content {
        padding: var(--base-p-y) calc(var(--base-p-x) * 1.5);
      }
    }

    &-empty {
      padding: 0;

      &__title {
        padding: 0;
        text-align: center;
      }
    }

    $van-tabs: '.van-tabs';

    #{$van-tabs} {
      &__wrap {
        height: 36px;
      }

      &__line {
        background-color: var(--color-highlight-01);
      }

      .van-tab {
        &__text {
          display: flex;
          align-items: center;

          #{$stats-dialog} {
            &-tab-title {
              display: flex;

              &__value {
                @include media-breakpoint-down(mobile) {
                  display: none;
                }
              }
            }
          }
        }

        .app-icon {
          margin-right: calc(var(--base-m-x) / 4);
        }
      }
    }

    .score {
      position: relative;

      &__count {
        @include font-weight-bold;

        display: inline-block;
        width: 28px;
        margin-left: calc(var(--base-m-x) / 2);
      }

      &__title {
        position: relative;
      }
    }

    .scoreboard {
      position: relative;
      margin-bottom: calc(var(--base-m-y) * 2);

      .score {
        margin-bottom: var(--base-m-y);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__countdown {
      $countdown: '.countdown';

      flex-wrap: wrap;
      margin: unset !important;

      #{$countdown} {
        &__title {
          flex: 100%;
          width: 100%;
          margin-bottom: calc(var(--base-m-y) / 2);
          font-size: var(--font-size-text-7);

          @include media-breakpoint-down(mobile) {
            font-size: var(--font-size-text-9);
          }
        }

        &__timer {
          color: var(--color-text-02);

          @include font-weight-bold;

          @include media-breakpoint-down(mobile) {
            font-size: var(--font-size-text-8) !important;
          }
        }
      }
    }

    .answers {
      position: relative;
      max-height: 40vh;
      padding: var(--base-p-y) 0;
      overflow: auto;
      overflow-x: clip;

      &__inner {
        position: relative;
      }
    }

    .answer {
      $answer: '.answer';
      $van-cell: '.van-cell';
      $van-collapse-item: '.van-collapse-item';

      padding: calc(var(--base-p-y) / 2) 0;
      padding-right: var(--base-p-x);

      &::after {
        right: 0;
        left: 0;
      }

      &--correct {
        #{$van-cell} {
          &__title {
            color: var(--color-success-01);

            &::before {
              content: '✔️';
            }
          }
        }

        #{$answer} {
          &__myAnswer {
            span {
              color: var(--color-success-01);
            }
          }
        }
      }

      &--wrong {
        #{$van-cell} {
          &__title {
            color: var(--color-danger-01);

            &::before {
              content: '❌';
            }
          }
        }

        #{$answer} {
          &__myAnswer {
            span {
              color: var(--color-danger-01);
            }
          }
        }
      }

      &--passed {
        #{$van-cell} {
          &__title {
            color: var(--color-warning-01);

            &::before {
              position: relative;
              top: calc(var(--base-m-y) / 4);
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: calc(var(--base-m-x) / 2) !important;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' class='iconify iconify--twemoji' width='32' height='32' preserveAspectRatio='xMidYMid meet' viewBox='0 0 36 36'%3E%3Cpath fill='%23d3af38' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z'%3E%3C/path%3E%3Cpath fill='%23FFF' d='M7 14h9V7l13 11l-13 11v-7H7z'%3E%3C/path%3E%3C/svg%3E");
              background-size: contain;
              content: '';
            }
          }
        }

        #{$answer} {
          &__myAnswer {
            span {
              color: var(--color-warning-01);
            }
          }
        }
      }

      #{$van-cell} {
        padding: calc(var(--base-p-y) / 4) 0;

        &:active {
          background-color: transparent;
        }

        &.van-collapse-item__title--expanded {
          &::after {
            visibility: hidden;
          }
        }

        &__title {
          text-transform: uppercase;

          &::before {
            margin-right: calc(var(--base-m-x) / 4);
          }
        }
      }

      #{$van-collapse-item} {
        &__content {
          padding: 0;
        }
      }
    }

    // Footer
    &__footer {
      margin-top: calc(var(--base-m-y) * 2);
      padding: var(--base-p-y) var(--base-p-x);
      background-color: var(--color-ui-01);
      border-radius: var(--border-radius-01);
    }
  }
}
