.scene {
  position: relative;

  &__inner {
    height: calc(100vh - var(--header-height) - 1px);
    padding: 0 var(--base-p-x);
  }
}

// Game Scene shared styles
.game-scene {
  $game-scene: '.game-scene';

  --motion: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  outline: none;

  @media (max-height: 569px) {
    zoom: 90%;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  %pop-animate {
    transition: var(--motion);
    animation-name: pop;
    animation-duration: 0.2s;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &--gameOver {
    #{$game-scene} {
      &__inner {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  @at-root html[ua-is-from-ios='true'] {
    #{$game-scene} {
      &--osk {
        #{$game-scene} {
          &__fieldSection {
            position: relative !important;
          }
        }
      }
    }
  }

  @at-root html[ua-browser='Safari'] {
    #{$game-scene} {
      &--osk {
        #{$game-scene} {
          @include media-breakpoint-down(wide) {
            &__fieldSection {
              position: relative !important;
            }
          }
        }
      }
    }
  }

  // Alphabet
  .alphabet {
    --alphabet-height: auto;
    --alphabet-width: 100%;

    position: relative;
    width: var(--alphabet-width);
    height: var(--alphabet-height);
    margin-bottom: calc(var(--base-m-y) * 2);
    padding: var(--base-p-y) 0;

    @include media-breakpoint-down(mobile-m) {
      margin-bottom: var(--base-m-y);
    }

    @at-root .unsupported-height {
      .alphabet {
        margin-bottom: calc(var(--base-m-y) / 4);
      }
    }

    &__inner {
      position: relative;
    }

    &__item {
      $alphabet-item: '.alphabet__item';

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-disabled-01);
      font-size: var(--font-size-text-8);
      border: 4px solid var(--color-border-01);
      border-radius: 100%;
      user-select: none;

      @at-root .unsupported-height {
        #{$alphabet-item} {
          font-size: var(--font-size-text-10);
        }
      }

      &--selected {
        color: var(--color-text-01);
        background-color: var(--color-ui-02);
        border-color: var(--color-brand-01);
        box-shadow: 0 4px var(--color-highlight-01);
        transform: scale(1.09);

        @include font-weight-semi-bold;
      }

      &--passed {
        color: var(--color-text-04);
        background-color: var(--color-warning-01);
        border-color: var(--color-warning-01);

        @extend %pop-animate;
      }

      &--wrong {
        color: var(--color-text-04);
        background-color: var(--color-danger-01);
        border-color: var(--color-danger-01);

        @extend %pop-animate;
      }

      &--correct {
        color: var(--color-text-04);
        background-color: var(--color-success-01);
        border-color: var(--color-success-01);

        @extend %pop-animate;
      }
    }
  }

  // Countdown
  .countdown {
    position: relative;

    &__icon {
      color: var(--color-icon-01);
    }

    &__timer {
      color: var(--color-text-02);
    }
  }

  @at-root .unsupported-height {
    #{$game-scene} {
      &__countdown {
        $countdown: '.countdown';

        position: fixed;
        top: calc(var(--header-height) / 4);
        left: var(--base-m-x);
        padding: 6px 12px;
        font-size: var(--font-size-text-9);
        background-color: var(--color-ui-02);
        border-radius: var(--border-radius-01);

        #{$countdown} {
          &__timer {
            font-size: var(--font-size-text-9) !important;
          }
        }
      }
    }
  }

  // Questions
  .questions {
    position: relative;
    padding: calc(var(--base-p-y) * 2) var(--base-p-x);
    text-align: center;

    @include media-breakpoint-up(tablet) {
      padding: calc(var(--base-p-y) * 2) calc(var(--base-p-x) * 4);
    }

    @include media-breakpoint-down(mobile-m) {
      padding: var(--base-p-y) var(--base-p-x);
    }

    @at-root .unsupported-height {
      .questions {
        padding-top: 0;
      }
    }
  }

  // Question
  .question {
    $question: '.question';

    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    font-size: var(--font-size-text-1);
    letter-spacing: 0.02em;

    @include media-breakpoint-down(mobile) {
      height: 150px;
    }

    @media (max-height: 569px) {
      height: 100px;
    }

    &__title {
      color: var(--color-text-01);
      @include font-weight-bold;
    }

    @at-root html[ua-is-from-ios='true'] {
      #{$question} {
        &--osk {
          @include media-breakpoint-down(mobile) {
            height: 90px;
          }
        }
      }
    }

    @at-root .unsupported-height {
      #{$question} {
        &--osk {
          height: 50px !important;
        }
      }
    }

    &--osk {
      @media (max-height: 569px) {
        height: 60px;
      }
    }
  }

  // Field Section
  &__fieldSection {
    position: fixed !important;
    bottom: calc(var(--base-m-y) * 2);
    left: 0;
    width: calc(100% - var(--base-p-x) * 2);
    max-width: calc(var(--layout-max-width) - var(--base-p-x) * 2);
    margin: 0 auto;
    padding-bottom: env(safe-area-inset-bottom);
    overflow: hidden;
    border-radius: var(--border-radius-01);
    transform: translate3d(0, 0, 0);

    @include center(true, false);

    &--disabled {
      user-select: none;
      pointer-events: none;
    }
  }

  // Answer Field
  .answer-field {
    --field-height: 54px;
    --field-height--small: 40px;
    --action-button-width: 100px;

    position: relative;
    width: 100%;
    height: var(--field-height);
    box-shadow: var(--box-shadow-01);

    @mixin readonly {
      user-select: none;
      pointer-events: none;
      -webkit-user-drag: none;
    }

    @at-root .unsupported-height {
      .answer-field {
        height: var(--field-height--small);
      }
    }

    &__input {
      $answer-field-input: '.answer-field__input';

      width: 100%;
      height: var(--field-height);
      padding: 0 var(--base-p-x);
      padding-right: calc(var(--action-button-width) + var(--base-p-x));
      color: var(--color-text-02);
      font-size: var(--font-size-text-7);
      background-color: var(--color-field-01);
      border: 0;
      outline: none;

      @include font-weight-bold;

      &::placeholder {
        color: var(--color-text-03);
        text-transform: capitalize;

        @include font-weight-regular;
      }

      @at-root .unsupported-height {
        #{$answer-field-input} {
          height: var(--field-height--small);
          font-size: var(--font-size-text-9);
        }
      }

      @keyframes errorAnimation {
        0% {
          transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
          transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
          transform: translate(-3px, 0) rotate(1deg);
        }

        30% {
          transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
          transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
          transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
          transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
          transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
          transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
          transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
          transform: translate(1px, -2px) rotate(-1deg);
        }
      }

      &--errorAnimation {
        box-shadow: 2px 4px 6px var(--color-danger-01);
        animation: 0.4s errorAnimation forwards ease;
      }
    }

    &__button {
      $answer-field-button: '.answer-field__button';

      right: calc(var(--base-m-x) / 2);
      width: var(--action-button-width);
      height: calc(var(--field-height) - var(--base-p-y));
      border-radius: var(--border-radius-01);
      cursor: pointer;

      @include center(false, true);

      &::before {
        position: absolute;
        right: calc(var(--base-m-x) / 2);
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        content: '';

        @include center(false, true);
      }

      @at-root .unsupported-height {
        #{$answer-field-button} {
          height: calc(var(--field-height--small) - (var(--base-p-y) / 2));
        }
      }
    }
  }

  // Carousels
  .alphabet-carousel {
    .swiper-slide {
      width: calc(100px - var(--base-p-x));
      height: calc(100px - var(--base-p-y));

      @include media-breakpoint-down(desktop) {
        width: calc(72px - var(--base-p-y));
        height: calc(72px - var(--base-p-x));
      }

      @include media-breakpoint-down(tablet) {
        width: calc(64px - var(--base-p-y));
        height: calc(64px - var(--base-p-x));
      }

      @at-root .unsupported-height {
        .swiper-slide {
          width: calc(52px - var(--base-p-y)) !important;
          height: calc(52px - var(--base-p-x)) !important;
        }
      }
    }
  }
}
