.van-toast {
  $van-toast: '.van-toast';

  &.start-game-toast {
    $start-game-toast: '.start-game-toast';

    width: 90%;
    max-width: 426px;

    #{$van-toast} {
      &__text {
        display: flex;
        flex-direction: column;
        margin-top: var(--base-m-y);
        padding: var(--base-p-y) var(--base-p-x);

        #{$start-game-toast} {
          &__countdown {
            margin: 0;
            font-size: var(--font-size-text-3);
            font-variant-numeric: tabular-nums;
          }

          &__spinner {
            display: block;
            width: 36px;
            height: 36px;
            margin: var(--base-m-y) auto;
            margin-bottom: calc(var(--base-m-y) / 2);
            filter: grayscale(100%) invert(1);
          }

          &-info {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: var(--font-size-text-9);

            &__title {
              position: relative;
              margin-bottom: 0.4rem;
              color: var(--color-info-01);
            }

            ul {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding-left: var(--base-p-x);

              li {
                margin-bottom: 0.4rem;
                text-align: left;
                word-break: break-word;
                list-style: disc;
              }
            }

            code {
              padding: 2px 4px;
              color: var(--color-highlight-01);
              background-color: #000;
              border-radius: var(--border-radius-01);

              @include font-weight-bold;
            }
          }
        }

        strong {
          @include font-weight-semi-bold;
        }
      }
    }
  }
}
