.room-review-list {
  position: relative;

  &__head {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(tablet) {
      flex-wrap: wrap;
    }
  }

  &__rating {
    position: relative;

    &--desktop {
      margin-top: calc(var(--base-m-y));

      @include media-breakpoint-down(tablet) {
        display: none;
      }
    }

    &--mobile {
      margin-top: calc(var(--base-m-y) / 2);

      @include media-breakpoint-up(tablet) {
        display: none;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--base-m-y);
    color: var(--color-text-02);
    font-size: var(--font-size-text-6);

    @include font-weight-semi-bold;

    @include media-breakpoint-down(tablet) {
      margin: 0;
    }
  }

  .vue-star-rating {
    margin-right: var(--base-m-x);
    margin-bottom: var(--base-m-y);

    @include media-breakpoint-down(tablet) {
      margin-bottom: 0;
    }

    &-star {
      margin-right: calc(var(--base-m-x) / 4);
    }

    &-rating-text {
      color: var(--color-text-03);
      font-size: var(--font-size-text-7);

      @include media-breakpoint-down(tablet) {
        margin-bottom: calc(var(--base-m-y) / 2);
      }
    }
  }

  &__items {
    position: relative;
  }

  &-item {
    position: relative;

    &__head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-user {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto;

      &__username {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        color: var(--color-text-02);
        font-size: var(--font-size-text-9);
        word-wrap: break-word;

        .player-avatar {
          margin-top: calc(var(--base-m-y) / 8);
          margin-right: calc(var(--base-m-x) / 2);
        }
      }

      small {
        color: var(--color-text-02);

        .app-icon {
          display: inline-flex;
          margin-right: calc(var(--base-m-x) / 4);
        }
      }
    }

    &-date {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__icon {
        margin-right: calc(var(--base-m-x) / 4);
      }

      &__value {
        color: var(--color-text-03);
        font-size: var(--font-size-text-10);
      }
    }

    &-content {
      position: relative;

      &__description {
        color: var(--color-text-03);
        font-size: var(--font-size-text-10);
        text-align: justify;
      }
    }
  }

  .van-empty {
    $van-empty: '.van-empty';

    @include media-breakpoint-down(tablet) {
      #{$van-empty} {
        &__image {
          width: 92px;
          height: 92px;
        }

        &__description {
          text-align: center;
        }
      }
    }
  }
}
