.filter-dropdown {
  $v-dropdown-menu: '.v-dropdown-menu';

  #{$v-dropdown-menu} {
    &__trigger {
      position: relative;
    }

    &__container {
      padding: calc(var(--base-p-y) / 2) calc(var(--base-p-x) / 2);
      color: var(--color-text-02);
      background-color: var(--color-ui-02);
      border: 1px solid var(--color-border-01);
      border-radius: var(--border-radius-01);
      box-shadow: var(--box-shadow-01);
      margin-block-start: $spacer;
    }
  }

  &-trigger-button {
    $van-button: '.van-button';

    display: flex;
    color: var(--color-text-02);
    background-color: var(--color-ui-02);
    border: 1px solid var(--color-border-02);

    #{$van-button} {
      &__text {
        display: flex;
        align-items: center;
      }
    }

    &__icon {
      width: 16px;
      height: 16px;
      margin-inline-end: $spacer;
      color: var(--color-icon-02);

      svg {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  &-nav {
    position: relative;

    &-item {
      display: flex;
      align-items: flex-start;
      padding: calc(var(--base-p-y) / 2) calc(var(--base-p-x) / 2);
      color: var(--color-text-02);
      border-radius: var(--border-radius-01);
      cursor: pointer;

      &:hover {
        background-color: var(--color-hover-01);
      }

      &__icon {
        margin-inline-end: calc(var(--base-p-x) / 2);
        width: 16px;
        height: 16px;

        svg {
          width: 100% !important;
          height: 100% !important;
        }
      }

      &__title {
        font-size: var(--font-size-text-9);
      }
    }
  }
}
