.app-logo {
  position: relative;
  height: 100%;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: calc(var(--base-p-y) / 4);
    color: var(--color-brand-01);
    font-size: var(--font-size-text-3);
    letter-spacing: 0.08em;

    @include font-weight-extra-bold;
  }
}
