.app-header {
  position: relative;
  position: var(--header-position);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 var(--base-p-x);
  border-bottom: 1px solid var(--color-border-01);

  .app-logo {
    &--default {
      position: relative;
      top: -4px;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &--title {
      @include center(true, true);
    }
  }

  &-nav {
    $app-header-nav__item: '.app-header-nav__item';

    position: relative;
    display: inline-flex;
    list-style: none;

    &__item {
      display: flex;
      align-items: center;
      margin: 0 calc(var(--base-m-y) / 4);
      color: var(--color-icon-01);
      font-size: var(--font-size-text-5);
      cursor: pointer;

      @at-root .dark-mode {
        #{$app-header-nav__item} {
          .van-icon {
            filter: invert(1) brightness(60%);
          }
        }
      }

      &--roomReviews {
        @include media-breakpoint-down(mobile-s) {
          display: none;
        }
      }
    }
  }
}
