.auth-google-callback-page {
  position: relative;
  padding: 10vh var(--base-p-x);
  text-align: center;

  p {
    display: block;
    color: var(--color-text-02);
    text-align: center;
  }

  small {
    color: var(--color-text-03);
  }

  a {
    color: var(--color-link-01);
    text-decoration: underline !important;
  }
}
