.creator-mode-intro-page {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - calc(var(--base-p-x) * 2));
    height: calc(100vh - var(--header-height));
    margin: 0 auto;
  }

  &__description {
    display: block;
    width: 100%;
    margin-bottom: calc(var(--base-m-y) * 2);
    color: var(--color-text-02);
    font-size: var(--font-size-text-4);
    line-height: calc(var(--font-size-text-4) * 1.4);
    text-align: left;

    strong {
      &:nth-child(1) {
        color: var(--color-info-01);
      }
    }
  }

  .choose-list {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;

    &-item {
      $van-button: '.van-button';

      position: relative;
      display: flex;
      width: 100%;
      height: 64px;
      margin: 0 auto;
      margin-bottom: calc(var(--base-m-y) / 1.5);
      padding-left: var(--base-p-x);
      color: var(--color-text-02);
      text-align: left;
      background-color: var(--color-ui-02);
      border-radius: var(--border-radius-01);

      @include font-weight-semi-bold;

      &__icon {
        position: absolute;
        right: var(--base-m-x);
        margin: 0 var(--base-m-x);
      }
    }
  }
}
