.intro-scene {
  $scene: '.scene';

  position: relative;

  #{$scene} {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      @include media-breakpoint-down(tablet) {
        padding-block-end: 15vh;
      }
    }
  }

  .app-logo {
    height: auto;
    margin: 0 auto;
    transform: scale(0.8);
    transform-origin: center center;
  }

  &__title {
    margin-bottom: calc(var(--base-m-y) * 2);
    color: var(--color-text-02);
    text-align: center;
  }

  &__keywords {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding-block: var(--base-p-y);
  }

  &__subtitle {
    margin-bottom: calc(var(--base-m-y) / 2);
    color: var(--color-text-03);
    font-size: var(--font-size-text-9);
  }

  &__description {
    margin-top: 0;
    margin-bottom: calc(var(--base-m-y) / 2);
    color: var(--color-text-03);
    font-size: var(--font-size-text-10);
  }

  &-mode-list {
    position: relative;

    &-item {
      $intro-scene-mode-list-item: '.intro-scene-mode-list-item';
      $van-button: '.van-button';

      position: relative;
      display: flex;
      width: 100%;
      height: auto;
      min-height: 72px;
      margin: 0 auto;
      margin-bottom: calc(var(--base-m-y) / 1.2);
      color: var(--color-text-02);
      text-align: left;
      background-color: var(--color-ui-02);
      border: 0;
      border-radius: var(--border-radius-01);
      box-shadow: var(--box-shadow-02);
      padding-inline: var(--base-p-x);
      padding-block: $spacer * 3;
      transition: transform 0.1s var(--motion-01);

      &:hover {
        transform: scale(1.02);
      }

      &__footer {
        display: flex;
        gap: $spacer * 7;
        align-items: center;
        padding: 0;
        padding-block-start: $spacer * 4;
        background-color: transparent;
        box-shadow: none;
        margin-block-end: 0;
        transform: unset !important;
      }

      &--tour {
        position: relative;
        overflow: hidden;
        color: #fff;
        padding-block: $spacer * 5;
        padding-block-end: $spacer * 3;
        background: linear-gradient(to right, #2563eb, #9333ea, #ec4899);

        &::before {
          position: absolute;
          z-index: 0;
          width: 200px;
          height: 200px;
          background: rgba(255, 255, 255, 0.08);
          border-radius: 100%;
          transform: unset;
          opacity: 1;
          content: '';
          inset-inline-start: -41px;
          inset-block-start: unset;
          inset-block-end: -88px;
        }

        &::after {
          position: absolute;
          z-index: 0;
          width: 200px;
          height: 200px;
          background: rgba(168, 85, 247, 0.2);
          border-radius: 100%;
          content: '';
          inset-inline-end: -50px;
          inset-block-start: -90px;
        }

        #{$intro-scene-mode-list-item} {
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }

          &__icon {
            margin-block-start: 6px;
            padding: $spacer * 3;
            background-color: rgba(255, 255, 255, 0.3);
            border-color: #e5e7eb;
            border-radius: calc(var(--border-radius-01) / 2);

            svg {
              animation: rotate 10s linear infinite;
            }
          }

          &-title {
            color: #fff;
            padding-inline-start: 64px;
          }

          &__description {
            color: #ddd;
            margin-inline-start: $spacer;
          }

          &__label {
            position: absolute;
            display: inline-flex;
            align-items: center;
            min-width: 92px;
            padding: $spacer * 2 $spacer * 4;
            color: rgb(17, 24, 39);
            background-color: #facc15;
            border-radius: var(--border-radius-01);
            inset-inline-end: $spacer * 2;
            inset-block-start: $spacer * 3 + 6px;

            .app-icon {
              margin-inline-end: $spacer;
            }
          }
        }

        .prepend {
          z-index: 2;
          width: 100%;
          margin-inline: 0 !important;
        }

        .live-count {
          position: relative;
          display: inline-flex;
          gap: 6px;
          align-items: center;
          width: 100%;
          padding: 0;
          font-size: var(--font-size-text-10);
          background-color: transparent;
          border-radius: var(--border-radius-01);
          margin-inline-start: 64px;
          margin-block-start: $spacer;

          @include font-weight-medium;

          .pulse {
            width: 8px;
            height: 8px;
            background-color: rgb(0, 161, 54);
            border-radius: 50%;
            margin-block-end: 2px;
            animation: livePulse 1.5s ease-in-out infinite;
          }

          .count {
            color: #fff;
          }
        }

        .top-scorer {
          position: relative;
          display: inline-flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          overflow: hidden;
          font-size: var(--font-size-text-9);
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: calc(var(--border-radius-01) / 2);
          backdrop-filter: blur(4px);
          margin-block: $spacer * 4;
          margin-block-end: $spacer * 6;

          @include font-weight-medium;

          p {
            display: flex;
            align-items: center;
          }

          &__content {
            position: relative;
            display: flex;
            align-items: center;
            height: 40px;
            padding: $spacer * 2 $spacer * 3;
          }

          &__avatar {
            height: 40px;
            padding: $spacer * 2 $spacer * 2;
            padding-inline-end: $spacer;
          }

          &__icon {
            margin-inline-end: $spacer * 2;
          }
        }

        .play-now-button {
          height: 42px;
          color: var(--color-brand-02);
          background-color: rgb(255, 255, 255);
          border: 0;
          border-radius: calc(var(--border-radius-01) / 2);
          padding-inline: $spacer * 5;

          @include font-weight-semi-bold;
        }

        .avatar-group {
          display: flex;
          align-items: center;
          background-color: transparent;

          .player-avatar {
            margin-inline: -6px;

            &__avatar {
              border: 2px solid #ddd;
              border-radius: 100%;
            }

            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                z-index: #{5 - $i};
              }
            }
          }

          &__moreCount {
            color: #ddd;
            margin-inline-start: 16px;

            @include font-weight-medium;
          }
        }
      }

      .van-button {
        &__content {
          width: 100%;
        }

        &__text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }

      .prepend {
        display: block;
        margin-inline-start: calc(var(--base-m-x) * 2.5);
      }

      .append {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      a {
        color: var(--color-text-02);
      }

      @include font-weight-semi-bold;

      &--disabled {
        opacity: 0.4;
      }

      &-title {
        display: flex;
        font-size: var(--font-size-text-7);
        padding-block-start: 2px;
      }

      .title-group {
        display: flex;
        align-items: center;
      }

      &__label {
        position: relative;
        padding: calc(var(--base-p-y) / 4) calc(var(--base-p-x) / 4);
        color: var(--color-text-04);
        font-size: var(--font-size-text-10);
        background-color: var(--color-warning-01);
        border-radius: calc(var(--border-radius-01) / 4);
        box-shadow: var(--box-shadow-03);
        margin-inline-end: calc(var(--base-m-x) / 2);
      }

      &__icon {
        position: absolute;
        top: $spacer * 3;
        left: var(--base-m-x);
      }

      &__description {
        margin: 0;
        color: var(--color-text-03);
        font-size: var(--font-size-text-9);
        margin-block-start: $spacer;

        @include font-weight-medium;
      }
    }
  }
}

@keyframes livePulse {
  0% {
    box-shadow: 0 0 0 0 rgb(12, 125, 50);
    transform: scale(1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    transform: scale(1);
  }
}
