:root {
  --font-size-text-1: 30px;
  --font-size-text-2: 28px;
  --font-size-text-3: 26px;
  --font-size-text-4: 24px;
  --font-size-text-5: 22px;
  --font-size-text-6: 20px;
  --font-size-text-7: 18px;
  --font-size-text-8: 16px;
  --font-size-text-9: 14px;
  --font-size-text-10: 12px;
}
