// General
@charset "UTF-8";

::-moz-selection {
  color: #fff;
  background: #444;
}

::selection {
  color: #fff;
  background: #444;
}

* {
  box-sizing: border-box;
}

a,
button,
input {
  text-decoration: none !important;
  outline: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif !important;
  background-color: var(--color-ui-01);

  @include font-weight-regular;
}
